<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.clothesOrderLog.mapper.ClothesOrderLogMapper">

    <resultMap type="com.ruoyi.project.business.clothesOrderLog.domain.ClothesOrderLog" id="ClothesOrderLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="clientId" column="client_id" jdbcType="INTEGER"/>
        <result property="clientPhone" column="client_phone" jdbcType="VARCHAR"/>
        <result property="clothesId" column="clothes_id" jdbcType="VARCHAR"/>
        <result property="orderPrice" column="order_price" jdbcType="NUMERIC"/>
        <result property="orderDiscount" column="order_discount" jdbcType="INTEGER"/>
        <result property="actualPrice" column="actual_price" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="paperNum" column="paper_num" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ClothesOrderLogMap">
        select bu_clothes_order_log(client_id, client_phone, clothes_id, order_price, order_discount, actual_price,
                                    remark, paper_num, order_num, status, del_flag, create_by, create_time, update_by,
                                    update_time)

        from bu_clothes_order_log
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ClothesOrderLogMap">
        select
        bu_clothes_order_log(client_id, client_phone, clothes_id, order_price, order_discount, actual_price, remark,
        paper_num, order_num, status, del_flag, create_by, create_time, update_by, update_time)

        from bu_clothes_order_log
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="clientId != null">
                and client_id = #{clientId}
            </if>
            <if test="clientPhone != null and clientPhone != ''">
                and client_phone = #{clientPhone}
            </if>
            <if test="clothesId != null and clothesId != ''">
                and clothes_id = #{clothesId}
            </if>
            <if test="orderPrice != null">
                and order_price = #{orderPrice}
            </if>
            <if test="orderDiscount != null">
                and order_discount = #{orderDiscount}
            </if>
            <if test="actualPrice != null">
                and actual_price = #{actualPrice}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="paperNum != null and paperNum != ''">
                and paper_num = #{paperNum}
            </if>
            <if test="orderNum != null and orderNum != ''">
                and order_num = #{orderNum}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from bu_clothes_order_log
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="clientId != null">
                and client_id = #{clientId}
            </if>
            <if test="clientPhone != null and clientPhone != ''">
                and client_phone = #{clientPhone}
            </if>
            <if test="clothesId != null and clothesId != ''">
                and clothes_id = #{clothesId}
            </if>
            <if test="orderPrice != null">
                and order_price = #{orderPrice}
            </if>
            <if test="orderDiscount != null">
                and order_discount = #{orderDiscount}
            </if>
            <if test="actualPrice != null">
                and actual_price = #{actualPrice}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="paperNum != null and paperNum != ''">
                and paper_num = #{paperNum}
            </if>
            <if test="orderNum != null and orderNum != ''">
                and order_num = #{orderNum}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into bu_clothes_order_log(client_id, client_phone, clothes_id, order_price, order_discount, actual_price,
                                         remark, paper_num, order_num, status, del_flag, create_by, create_time,
                                         update_by, update_time)
        values (#{clientId}, #{clientPhone}, #{clothesId}, #{orderPrice}, #{orderDiscount}, #{actualPrice}, #{remark},
                #{paperNum}, #{orderNum}, #{status}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into bu_clothes_order_log(client_id, client_phone, clothes_id, order_price, order_discount, actual_price,
        remark, paper_num, order_num, status, del_flag, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.clientId}, #{entity.clientPhone}, #{entity.clothesId}, #{entity.orderPrice},
            #{entity.orderDiscount}, #{entity.actualPrice}, #{entity.remark}, #{entity.paperNum}, #{entity.orderNum},
            #{entity.status}, #{entity.delFlag}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy},
            #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into bu_clothes_order_log(client_id, client_phone, clothes_id, order_price, order_discount, actual_price,
        remark, paper_num, order_num, status, del_flag, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.clientId}, #{entity.clientPhone}, #{entity.clothesId}, #{entity.orderPrice},
            #{entity.orderDiscount}, #{entity.actualPrice}, #{entity.remark}, #{entity.paperNum}, #{entity.orderNum},
            #{entity.status}, #{entity.delFlag}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy},
            #{entity.updateTime})
        </foreach>
        on duplicate key update
        client_id = values(client_id),
        client_phone = values(client_phone),
        clothes_id = values(clothes_id),
        order_price = values(order_price),
        order_discount = values(order_discount),
        actual_price = values(actual_price),
        remark = values(remark),
        paper_num = values(paper_num),
        order_num = values(order_num),
        status = values(status),
        del_flag = values(del_flag),
        create_by = values(create_by),
        create_time = values(create_time),
        update_by = values(update_by),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update bu_clothes_order_log
        <set>
            <if test="clientId != null">
                client_id = #{clientId},
            </if>
            <if test="clientPhone != null and clientPhone != ''">
                client_phone = #{clientPhone},
            </if>
            <if test="clothesId != null and clothesId != ''">
                clothes_id = #{clothesId},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice},
            </if>
            <if test="orderDiscount != null">
                order_discount = #{orderDiscount},
            </if>
            <if test="actualPrice != null">
                actual_price = #{actualPrice},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="paperNum != null and paperNum != ''">
                paper_num = #{paperNum},
            </if>
            <if test="orderNum != null and orderNum != ''">
                order_num = #{orderNum},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="delFlag != null and delFlag != ''">
                del_flag = #{delFlag},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from bu_clothes_order_log
        where id = #{id}
    </delete>

</mapper>

